<div class="container">
  <footer class="text-small text-center text-muted">
    <p>Built by <a href="https://github.com/akeaswaran/">Akshay Easwaran</a>.</p>
    <p>Data provided by TruMedia Networks.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
</div>