<div class="container">
    <header class="d-flex justify-content-between py-3">
      <h4 class="fs-4">Quarterback Comparison (2018)</h4>
  
      <a href="https://github.com/akeaswaran" class="btn btn-outline-primary pull-right"><i class="bi bi-github"></i></a>
    </header>
</div>